# macOS System Files
.DS_Store
.AppleDouble
.LSOverride

# Microsoft Excel Lock/Temp Files
~$*.xlsx
~$*.xls
*.tmp

# Python / Jupyter caches
__pycache__/
*.pyc
.ipynb_checkpoints/

# IDE / Editor Files
.idea/
.vscode/
